body {
  background-color: #121212;
  color: #f5f5f5;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

#app {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

h1 {
  color: #00d9ff;
  margin-bottom: 10px;
}

section {
  display: none;
}

section:not(.hidden) {
  display: block;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 60%;
  font-size: 16px;
  margin-top: 10px;
}

button {
  background-color: #00d9ff;
  color: #000;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

button:hover {
  background-color: #03bafc;
}

.choiceBtn {
  display: block;
  margin: 8px auto;
  padding: 10px 15px;
  width: 60%;
  text-align: center;
  font-size: 18px;
  background-color: #222;
  color: white;
  border: 1px solid #333;
  border-radius: 10px;
}

.choiceBtn:hover {
  background-color: #333;
}

.correct {
  background-color: #26c281 !important;
}

.wrong {
  background-color: #e74c3c !important;
}

.hidden {
  display: none;
}

.hint {
  color: #aaa;
  font-size: 14px;
}

.fontControls {
  margin-top: 15px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  background-color: #1f1f1f;
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.buttons {
  margin-top: 20px;
}
